*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    text-align: center; 
    margin-top: 50px;
    gap: 3rem; 
}

#user 
{   
    margin-top: 50px;
    width:40%;
}
#comp {
    width: 40%; 
}
h3{
    font-size: 3rem;
}
#btn{ 
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;;

}
